body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
    color: #333;
    margin:0;
    padding:20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #007BFF;
}

form {
    max-width: 300px;
    text-align: center;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}


.btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

h2 {
    margin-top: 20px;
    color: #007BFF;
}

p {
    margin-bottom: 10px;
}

.error{
    color: red;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

table {
    border-spacing: 10px; /* Ajuste o valor conforme necessário */
    width: 100%; /* Adiciona largura total à tabela (opcional) */
    border-collapse: separate; /* Certifique-se de que as células não estão colapsadas */
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}